@charset"uft-8";

/*基礎設定*/
* {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    border: none 0;
    color: #231815;
    font-style: normal;
    font-weight:normal;/*100~900*/
    text-decoration: none;
    text-align: left;
    line-height: normal;/*文章のぎゅっと感*/
    text-overflow:ellipsis;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",serif;
    }

body {
  margin: 5px;

}
/*smartphone---------------------------------------------*/
@media all and (max-device-aspect-ratio:1/1) {
.grid {
  display: grid;
  grid-template-columns:1fr 12fr 1fr;
  grid-template-rows:5vh auto auto;
}
.footnav p, .nav p {
  font-size: 60%;
}
.menu {
  background-image: url("../img/white_00095.jpg");
  width:45%;
}
.menucover {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
h3 {
  text-align: center;
  margin-bottom:1vh;
  font-size:70%;

}
.menu > h1 {
  margin-top:1vh;
}

.menu h1 {
  text-align: center;
  margin-top:3vh;
  font-size: 140%;
  margin-bottom:3vh;
}

.menu h2 {
  text-align: center;
  margin-top:2vh;
  font-size: 100%;
  margin-bottom:2vh;
}
p {
  font-size: 80%;
}
.menu {
  background-image: url("../img/white_00095.jpg");
  width:100%;
}
.menucover {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
    h1 {
  text-align: center;
  margin-top:3vh;
  font-size: 150%;
  margin-bottom:10vh;
}
  .nav {
  position:sticky;
  opacity:0.8;
  top:0;
  background-color:black;
  display:flex;
  height:8vh;
  flex-direction: row;
  justify-content:center;
  z-index: 1;
}
    .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    opacity:0.9;
    background-color: black;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}	
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
} 
      
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    opacity:0.8;
    background-color: black;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
	
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    opacity:0.9;
    background-color: black;
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}	
.nav {
     display:none;
}
.keireki {
	font-size:30%;
}
}

@media all and (min-device-aspect-ratio:1/1) {
.grid {
  display: grid;
  grid-template-columns:4fr 12fr 4fr;
  grid-template-rows:5vh auto auto;
}
p {
  font-size:110%;
}
.menu {
  background-image: url("../img/white_00095.jpg");
  width:45%;
}


h3 {
  text-align: center;
  margin-bottom:1vh;

}
.menu > h1 {
  margin-top:1vh;
}

.menu h1 {
  text-align: center;
  margin-top:3vh;
  font-size: 180%;
  margin-bottom:3vh;
}

.menu h2 {
  text-align: center;
  margin-top:2vh;
  font-size: 130%;
  margin-bottom:2vh;
}
.menucover {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
    h1 {
  text-align: center;
  margin-top:10vh;
  font-size: 150%;
  margin-bottom:10vh;
}
.nav {
  position:sticky;
  opacity:0.8;
  top:0;
  background-color:black;
  display:flex;
  height:8vh;
  flex-direction: row;
  justify-content:center;
  z-index: 1;
}
.hamburger-menu {
		display:none;
}
.keirekishashin {
	float:left;
}
}
.nav a {
  width:15%;
  height:100%;
  transition:0.5s;

}
.nav a:hover {
  background-color:#005c17;
  opacity:0.5;
  transition: 0.5s;
}
.nav p {
  color:white;
  text-align: center;
  margin-top:3vh;
}
.container1 {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top:5vh;
  margin-bottom:50px;
}

.container1 p {
  margin-bottom:30px;
  line-height: 200%;
  margin-left: 5vw;
  margin-right:5vw;
}
dt,dd {
  font-size:120%;
  margin-bottom:5px;
}
dd {
  margin-left: 10px;
}

h2 {
  text-align: center;
  margin-top:5vh;
  font-size: 130%;
  margin-bottom:5vh;
}

.footer {
  grid-column: 1/4;
  grid-row: 3/4;
  width: 100%;
  height:100%;
  background-color: black;
}
.footer * {
  color:white;
}
.footyagou {
  color:#80273F;
  font-family: 'Amatic SC', cursive;
  font-size: 90px;
  float:right;
}
.footnav {
  display:flex;
  flex-direction:row;
  flex-wrap: row;
  justify-content: space-around;
  width: 100%;
  height:12vh;
}
.footnav p {
  margin-top:5vh;
  text-align: center;
}
.footnav a {
  width:15%;
  height:100%;
}
.footnav a:hover {
  border-bottom: solid black 2px;
  transition:0.5s;
}
.footer p {
  text-align: center;
}
.migikuro, .hidarikuro ,.hidarikuro2 {
  background-image:url("../img/black_00080.jpg");
  grid-row:1/3;
}
.migikuro {
  grid-column:3/4;
}
.hidarikuro {
  grid-column:1/2;
}
.hidarikuro2 {
  grid-column:1/3;
}
.container1 > img {
  width:60%;
  margin-left:20%;
}

ol > p {
  text-align: center;
  font-size:100%;
}
