@charset"uft-8";

/*基礎設定*/
* {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    border: none 0;
    color: #231815;
    font-style: normal;
    font-weight:normal;/*100~900*/
    text-decoration: none;
    text-align: left;
    line-height: normal;/*文章のぎゅっと感*/
    text-overflow:ellipsis;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",serif;
  }
  html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  @media all and (min-device-aspect-ratio:1/1) {
    .grid {
      display: grid;
      grid-template-columns:1fr;
      grid-template-rows:100vh 100vh 100vh 100vh 50vh;
      height:450vh;
    }
    .grid > div {
      scroll-snap-align:start;
    }
    .bottom {
      position:absolute;
      width:100%;
      height:15%;
      background-color:black;
      opacity:0.8;
      top:85vh;
      z-index:3;
    }
    .container1_1 {
      position:absolute;
      bottom:-100%;
      width:100%;
      opacity:0.8;
      background-color: black;
      display:flex;
      height:15%;
      flex-direction: row;
      justify-content:center;
      z-index: 1;
      margin-top:14%;
    }
    .container1_1 a {
      width:15%;
      height:100%;
      transition:0.5s;
    }
    .container1_1 a:hover {
      background-color:#005c17;
      opacity:0.5;
      transition: 0.5s;
    }
    .container1_1 p {
      color:white;
      text-align: center;
      margin-top:2.3vh;
    }
    h1 {
      text-align: center;
      margin-top:5%;
      font-size: 250%;
    }
    h2 {
      text-align: center;
      margin-top:5%;
      200%;
    }
    p {
      font-size:120%;
    }
    .slider {
      width:90vw;
      height:35vh;
      margin-left: 5vw;
      margin-top:15vh;
    }
    .container-food {
      width:70vw;
      height:40vh;
      margin-left:15vw;
      display:flex;
      flex-direction: row;
      align-content: space-between;
      margin-top:5vh;
    }
    .container-food2 {
      width:90vw;
      height:40vh;
      margin-left:5vw;
      display:flex;
      flex-direction: row;
      align-content: space-between;
      margin-top:5vh;

    }
    .food {
      width:30vw;
      height:40vh;
      border:solid white 2px;
      z-index:2;
      background-color:transparent;
    }
    .inner-container {
      background-color:white;
      opacity:0.8;
      width:70%;
      margin-left:15%;
      margin-bottom:30px;
    }
    .yoyaku {
      width:30%;
      height:10%;
      position:relative;
      border: white solid 2px;
      left:60%;
    }
    .yoyaku p {
      color:white;
      text-align: center;
      margin-top:3%;
    }
    .yoyaku p::after {
      display:block;
      width:10px;
      height:10px;
      border-top:white solid 2px;
      border-right:white solid 2px;
      transform: rotate(-90);
      background-color:white;
    }
    .yoyaku2 {
      width:30%;
      height:10%;
      position:relative;
      border: black solid 2px;
      left:60%;
      top:13%;
    }
    .yoyaku2 p {
      color:black;
      text-align: center;
      margin-top:3%;
    }
    .yoyaku2 p::after {
      display:block;
      width:10px;
      height:10px;
      border-top:white solid 2px;
      border-right:white solid 2px;
      transform: rotate(-90);
      background-color:white;
    }
    .footnav {
      display:flex;
      flex-direction:row;
      flex-wrap: row;
      justify-content: space-around;
      width: 100%;
      height:12vh;
    }
    .footnav p {
      margin-top:5vh;
      text-align: center;
    }
    .footnav a {
      width:15vh;
      height:100%;
    }
    .footnav a:hover {
      border-bottom: solid black 2px;
      transition:0.5s;
    }
 .head_logo {
  width:30%;
  height:100%;
}
  }

/*smartphone----------------------------------------------------*/
  @media all and (max-device-aspect-ratio:1/1) {
    .grid {
      display: grid;
      grid-template-columns:1fr;
      grid-template-rows:100vh 100vh 100vh 100vh 25vh;
      height:185vh;
      font-size: 50%;
    }
    .container1_1 {
      display:none;
    }
    h1 {
      text-align: center;
      margin-top:5%;
      font-size: 250%;
    }
    h2 {
      text-align: center;
      200%;
    }
    p {
      font-size:40%;
    }
    a {
      font-size: 60%;
    }
    .slider {
      width:80vw;
      height:35%;
      margin-left:10vw;
      margin-top:10%;
    }
    .container-food {
      width:90%;
      height:70%;
      margin-left:9%;
      margin-top:10%;
      display:flex;
      flex-direction: row;
      align-content: space-between;
    }
    .container-food2 {
      width:90%;
      height:70%;
      margin-left:9%;
      margin-top:10%;
      display:flex;
      flex-direction: row;
      align-content: space-between;

    }
    .food {
      width:30%;
      height:40%;
      border:solid white 2px;
      z-index:2;
      background-color:transparent;
    }
    .inner-container {
      background-color:white;
      opacity:0.8;
      width:70%;
      margin-left:15%;
      margin-bottom:30px;
    }
    .yoyaku2 {
      width:30%;
      height:10%;
      position: relative;
      border: black solid 1px;
      left:60%;
      top:-30%;
    }
    .yoyaku2 p {
      color:black;
      text-align: center;
      margin-top:3%;
    }
    .yoyaku2 p::after {
      display:block;
      width:10px;
      height:10px;
      border-top:white solid 2px;
      border-right:white solid 2px;
      transform: rotate(-90);
      background-color:white;
    }
    .footnav {
      display:flex;
      flex-direction:row;
      flex-wrap: row;
      justify-content: space-around;
      width: 100%;
      height:12%;
    }
    .footnav p {
      margin-top:5%;
      text-align: center;
    }
    .footnav a {
      width:15%;
      height:100%;
    }
    .footnav a:hover {
      border-bottom: solid black 2px;
      transition:0.5s;
    }
 .head_logo {
  width:100%;
  height:100%;
}
  }

.header {
  grid-column:1/2;
  grid-row:1/2;
  justify-content: center;
  display:flex;
  flex-direction:row;
  background: url("../img/black_00080.jpg");

}
.top {
  width:100%;
  height:20%;
  position:absolute;
  top:0;
}
.top_upper {
  position:sticky;
  height:10%;
  width:100%;
  background-color:black;
  z-index:2;
}
.logo {
  width:20%;
  height:100%;
  z-index: 3;
}
.logo img {
  position:absolute;
  right:0;
  width:20%;
  height:10%;
}
.tel_insta {
  width:10%;
  margin-left:70%;
  height:100%;
  z-index: 3;
}
.tel_insta img {
  height:10%;
  width:10%;
  display:none;
}
.tel_insta p {
  color:white;
  text-align:center;
  margin-top:4px;
}
.nav {
  opacity:0.8;
  position:sticky;
  top:0;
  background-color: black;
  display:flex;
  height:50%;
  flex-direction: row;
  justify-content:center;
  z-index: 1;
}
.nav a {
  width:15%;
  height:100%;
  transition:0.5s;
}
.nav a:hover {
  background-color:#005c17;
  opacity:0.5;
  transition: 0.5s;
}
.nav p {
  color:white;
  text-align: center;
  margin-top:1vh;
}


.head_logo img {
  width:100%;
  height:100%;
}
.container1 {
  grid-column:1/2;
  grid-row:2/3;
  background: url("../img/black_00080.jpg");
  width:100%;
  height:100%;
}
.container1 h1, .container1 h2 {
  color:white;
}

.food img {
  width:100%;
  height:100%;
}
.food p {
  text-align: center;
}


.container2 {
  background-color: white;
  grid-column:1/2;
  grid-row:3/4;
  align-content: center;
}
.container2 h1 ,.container2 h2 {
  color:black;
}

.instagram {
  width:10%;
  height:10%;
}


.container3 {
  grid-column:1/2;
  grid-row:4/5;
  align-content:center;
  background: url("../img/paper_00118.jpg");

}


.footer {
  grid-column:1/2;
  grid-row:5/6;
  background-color: black;
  scroll-snap-align:end;
}
.footer * {
  color:white;
}

.footer p {
  text-align: center;
}

/*-----------------------------------------------------------------------------------------------------*/
/*=== 画像の表示エリア ================================= */
.slide {
 position   : relative;
 overflow   : hidden;
                   /* 画像のサイズに合わせて変更ください */
 width      : 70%;
 height     : 100%;     /* サンプルは中央寄せの背景：白 */
 background : transparent;
}

/*=== 画像の設定 ======================================= */
.slide img {
 display    : block;
 position   : absolute;
                     /* 画像のサイズを表示エリアに合せる */
 width      : 100%;
 height: 100%;
 opacity    : 0;
 animation  : slideAnime 18s ease infinite;
}

.slider div {
  width:100%;
  height:100%;
}
.slider img {
  width:100%;
  height:100%;
}

/*=== スライドのアニメーションを段差で開始する ========= */
.slide img:nth-of-type(1) { animation-delay: 0s }
.slide img:nth-of-type(2) { animation-delay: 6s }
.slide img:nth-of-type(3) { animation-delay: 12s}

/*=== スライドのアニメーション ========================= */
@keyframes slideAnime{
  0% { opacity: 0 }
  3% { opacity: 1 }
 30% { opacity: 1 }
 33% { opacity: 0 }
100% { opacity: 0 }
}
